@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.agenda-container {
  background-image: url(/assets/cancun/dark-green-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  .logos {
    .logo-left {
      position: absolute;
      top:5%;
      left: 40%;
      width: 300px;
      height: 155px;
      margin: 25px;
      background-image: url(/assets/cancun/possible-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .logo-right {
      position: absolute;
      top:0;
      right: 0;
      width: 250px;
      height: 108px;
      margin: 25px;
      background-image: url(/assets/cancun/live-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .day {
    font-size: 2em;
    color: #ffffff;
    text-align: left;
    position: absolute;
    top: 200px;
    right: 45px;
    font-family: CiscoSans;
  }
  .group-agenda {
    font-family: CiscoSans;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    .agenda {
      position: absolute;
      top: 250px;
      width: 100%;
      // background-color: #ffffff;
      .intro {
        width: 92%;
        padding: 1vw 3vw 0vw 1vw;
        margin: 1vw 1vw 0vw 2vw;
        background-color: #ffffff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        .heading {
          font-size: 3em;
          width: 100%;
          border-radius: 10px;
          color: #18864a;
          font-family: CiscoSansBold;
          // height: 10vh;
          // background-color: #ffffff;
        }
        .sub-heading {
          font-size: 2em;
          width: 100%;
          font-family: CiscoSans;
          // background-color: #ffffff;
          // border-radius: 10px;
          // background-color: #ffffff;
          // border-bottom: 10px solid #18864a;
          color: #18864a;
        }
      }
      .content {
        table {
          border-spacing: 0px;
          table-layout: fixed;
          width: 100%;
          padding: 0vw 2vw 2vw 2vw;
          color: #757575;
          animation: fadeinout 15s linear infinite;
          thead {
            background-color: #ffffff;
            text-align: left;
            color: #18864a;
            border-bottom: 10px solid #18864a;
            tr {
              margin-top: 10px;
              margin-bottom: 10px;
              // &:first-child {
              //   width: 40%;
              }
              th {
                // padding: 1vw;
                padding-left: 1.5vw;
                line-height: 1.69;
                font-size: 1.8em;
                border-bottom: 8px solid #59b44a;
                border-top: 8px solid #59b44a;
                border-collapse: collapse;
                &:nth-child(1) {
                  width: 15%;
                }
                &:nth-child(2) {
                  width: 60%;
                }
                &:nth-child(3) {
                  width: 25%
                }
                // &:first-child {
                //   width: 20%;
                // }
                // &:nth-child(3) {
                //   width: 20%;
                // }
            }
            border: 1px solid #18864a;
          }
          tbody {
            background-color: #ffffff;
            text-align: left;
            tr {
              td {
                padding: 2vw;
                font-size: 2em;
                color: #757575;
              }
              &:nth-child(even) {
                background-color: #ededed;
              }
              // &:nth-child(3) {
              //   width: 50vw;
              // }
            }
          }
        }
      }
    }
  }
  .general-agenda {
    font-family: CiscoSans;
    display: flex;
    flex-direction: column;
    // background: url(/assets/cancun/bg-green.png);
    width: 100vw;
    height: 100vh;
    position: relative;
    .agenda {
      position: absolute;
      top: 250px;
      width: 100%;
      // margin-top: 50px;
      // background-color: #ffffff;
      .intro {
        width: 92%;
        padding: 1vw 3vw 0vw 1vw;
        margin: 1vw 1vw 0vw 2vw;
        background-color: #ffffff;
        // border-top-right-radius: 10px;
        // border-top-left-radius: 10px;
        .heading {
          font-size: 3em;
          width: 100%;
          border-radius: 10px;
          color: #18864a;
          font-family: CiscoSansBold;
          // height: 10vh;
          // background-color: #ffffff;
        }
        .sub-heading {
          font-size: 2em;
          width: 100%;
          font-family: CiscoSans;
          // background-color: #ffffff;
          // border-radius: 10px;
          // background-color: #ffffff;
          // border-bottom: 10px solid #18864a;
          color: #18864a;
        }
      }
      .content {
        table {
          border-spacing: 0px;
          width: 100%;
          padding: 0vw 2vw 2vw 2vw;
          color: #757575;
          animation: fadeinout 15s linear infinite;
          thead {
            background-color: #ffffff;
            text-align: left;
            color: #18864a;
            border-bottom: 10px solid #18864a;
            tr {
              margin-top: 10px;
              margin-bottom: 10px;
              &:first-child {
                width: 40%;
              }
              th {
                // padding: 1vw;
                padding-left: 1.5vw;
                line-height: 2.69;
                font-size: 1.8em;
                border-bottom: 8px solid #59b44a;
                border-top: 8px solid #59b44a;
                border-collapse: collapse;
                font-family: CiscoSansBold;
                &:first-child {
                  width: 25%;
                }
              }
            }
            border: 1px solid #18864a;
          }
          tbody {
            background-color: #ffffff;
            text-align: left;
            tr {
              td {
                padding: 2vw;
                font-size: 2em;
                color: #757575;
              }
              &:nth-child(even) {
                background-color: #ededed;
              }
            }
          }
        }
      }
    }
  }
  .room-agenda {
    padding: 2vw;
    width: 96vw;
    height: 70vh;
    // background: url(/assets/cancun/bg-green.png);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    .session-name {
    color: #ffffff;
    font-family: CiscoSans;
    font-size: 5em;
    text-align: right;
    // height: 20vh;
    margin-bottom: 2vh;
    }
    .session-abstract {
    color: #ffffff;
    font-family: CiscoSans;
    font-size: 2.2em;
    text-align: left;
    // height: 20vh;
    margin-bottom: 4vh;
    }
    .details {
      font-size: 2.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .time-and-room {
      width:100%;
      .time {
        color: #ffffff;
      font-family: CiscoSans;
      // font-size: 2.2em;
      text-align: left;
      // height: 20vh;
      // margin-bottom: 2vh;
      }
      .room {
        color: #ffffff;
        font-family: CiscoSans;
        // font-size: 2.2em;
        text-align: left;
        // height: 20vh;
        margin-bottom: 2vh;
      }
    }
    .author {
        color: #ffffff;
        font-family: CiscoSans;
        // font-size: 2.2em;
        text-align: left;
        // height: 20vh;
        margin-bottom: 2vh;
        width: 30%;
        margin-left: 1vw;
        .job-title {
          // font-size: 0.8em;
        }
        .company {
          // font-size: 0.8em;
        }
    }
    }
    .agenda {
    // background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 100px;
    .date {
      font-size: 3em;
      span {}
    }
    .room {
      font-size: 2em;
      .capacity {
        font-size: 1em;
        margin-left: 20px;
      }
    }
    .session {
      font-size: 2em;
    }
    .session-timing {
      font-size: 2em;
      margin: 10px;
      .session-start {

      }
      .session-end {

      }
      .total-session-time {

      }
    }
    }
  }
}
@media(min-height: 1920px) {
  .agenda-container {
    .logos {
      .logo-left {
        position: absolute;
        top:1%;
        left: 5%;
        width: 300px;
        height: 155px;
        margin: 25px;
        background-image: url(/assets/cancun/possible-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .logo-right {
        position: absolute;
        top:0;
        right: 0;
        width: 250px;
        height: 108px;
        margin: 25px;
        background-image: url(/assets/cancun/live-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}