.horizontal-stream {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1080px;
  height: 10000px;
  overflow-y: hidden;
  z-index: 1;

  .tweet-card {
    height: auto;
    padding: 25px 25px 0 25px;

    .tweet-card-middle {
      font-size: 35px;
    }

    .tweet-card-middle.portrait, .tweet-card-middle.landscape {
      min-height: auto;
      height: auto;

      .image {
        img {
          height: auto;
          object-fit: initial;
        }
      }
    }

    .tweet-card-middle.text {
      min-height: auto;
      height: auto;
      .text-content {
        padding-top: 20px;
      }
    }
  }
  .tweet-column-wrapper {
    overflow-y: hidden;
  }

  .tweet-column.slide {
    transform: translateY(0);
    transition: transform 1s linear;
  }
}
