.regularlayout {
  position: absolute;
  font-family: CiscoSansThin;

  .content-transition-appear {
    opacity: 0.01;
  }

  .content-transition-appear-active {
    opacity: 1;
    transition: opacity 4s ease-in;
  }
}


@import 'overrides/ciscolive-cancun.scss';
@import 'overrides/netflix.scss';
@import 'overrides/ownit.scss';
@import 'overrides/servicenow.scss';
@import 'overrides/vyoma.scss';
@import 'overrides/wibd.scss';
@import 'overrides/paloalto.scss';
@import 'overrides/westernunion.scss';
@import 'overrides/nba-allstar.scss';
@import 'overrides/cisco-mwc.scss';
@import 'overrides/sfl.scss';
@import 'overrides/dellebc-sv.scss';
@import 'overrides/cisco-pcw.scss';
@import 'overrides/vyoma-demo.scss';
@import 'overrides/statefarm.scss';
@import 'overrides/morganstanley.scss';
@import 'overrides/freedomrvusa.scss';
@import 'overrides/cisco-mktgvelocity.scss';
@import 'overrides/clus2018.scss';
@import 'overrides/avaya.scss';
@import 'overrides/ciscostore.scss';
@import 'overrides/indiatoday.scss';
@import 'overrides/boston-celtics.scss';
@import 'overrides/cisco-cxc.scss';
@import 'overrides/harker.scss';
@import 'overrides/vmware.scss';
@import 'overrides/cloudflare.scss';
@import 'overrides/nike.scss';
@import 'overrides/amat.scss';
@import 'overrides/tmobile.scss';
@import 'overrides/pure1.scss';
@import 'overrides/pure2.scss';
@import 'overrides/bayclub.scss';
@import 'overrides/linkedin.scss';
@import 'overrides/tiecon.scss';
@import 'overrides/clus2019.scss';
@import 'overrides/ciscoiotclus.scss';
@import 'overrides/ciscostoreclus.scss';
@import 'overrides/herbalifebooth.scss';
@import 'overrides/livenation.scss';
@import 'overrides/nuhuskies.scss';
@import 'overrides/nuhuskies-sports.scss';
@import 'overrides/xfl.scss';
@import 'overrides/expo2020.scss';
@import 'overrides/pureaccel.scss';
@import 'overrides/gehealthcare.scss';
@import 'overrides/sjsuspartans.scss';
@import 'overrides/ciscodining.scss';
@import 'overrides/discounttire.scss';