@keyframes scroll-top {
  0% {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animation-parent {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  position: relative;
  .one {
    position: absolute;
    top: 10%;
    &.align-bottom {
      top: 100%;
    }
    &.hide {
      display: none;
    }
    .end {
      width: 100px;
      height: 100px;
      .empty {
        min-height: 100px;
        padding: 10px;
        height: 100px;
      }
      &.hide {
        display: none;
      }
    }
  }
  .two {
    position: absolute;
    top: 10%;
    &.align-bottom {
      top: 100%;
    }
    &.hide {
      display: none;
    }
    .end {
      width: 100px;
      height: 100px;
      .empty {
        min-height: 100px;
        padding: 10px;
        height: 100px;
      }
      &.hide {
        display: none;
      }
    }
  }
}