@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.loader-card-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #fff;

  .loader-card-holder {
    width: 100%;
    height: 100%;
    .loader-card {
      width: 100%;
      height: 100%;
    }
  }
}
