.regularlayout {
  &.pureaccel {
    font-family: ProximaNova;
    .dashboard-header {
      background: url(/assets/pureaccel/headerCard.png);
      height: 100px;

      .logo.left-icon {
        img {
          max-width: 200px;
          max-height: none;
        }
      }
      .dashboard-title {
        color: #fe6f00;
        font-size: 48px;
        padding-top: 15px;
      }
      .logo.right-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
    }
    .dashboard-footer {
      .logo.right {
        img {
          width: 150px;
          padding: 20px;
        }
      }
    }
    &.stats {
      background-image: url(/assets/clus2019/darkblue_bg1920.jpg) !important;
    }
    &.carousel-container, &.stats {
      .tweet-card {
        font-family: ProximaNova;
        background: url(/assets/pureaccel/tweetCardBg.png);
        .tweet-card-top {
          .profile {
            font-family: ProximaNova;
            color: #000000;
            .handle {
              color: #fd5000;
            }
          }
          .timestamp {
            color: #000000;
          }
        }
        .tweet-card-middle {
          color: #000000;
        }
        .tweet-card-bottom {
          .twitter-logo {
            .icon-twitter {
               color: #fd5000;
               font-size: 2.5em;
             }
             .icon-instagram {
               font-size: 2.5em;
               background: none;
               color: #fd5000;
             }
          }
          .likes, .shares {
            font-size: 2em;
            color: #fd5000;
          }
        }
      }
    }
    &.leaderboard {
      overflow-x: hidden;
      .dashboard-header {
        .dashboard-title {
          font-family: ProximaNova;
        }
      }
    //   .dashboard-header {
    //     .dashboard-short-title {
    //       display: block;
    //       color:#fd5000;
    //       padding-top: 25px;
    //       padding-left: 250px;
    //     }
    //   }
      .leaderboard-cards {
        margin-top: 40px;
        .ranked-tweeter-card {
          .tweeter-image {
            &.card-element {
              z-index: 2;
            }
          }
          .tweeter-details {
            background: url(/assets/pureaccel/tweetCardBg.png);
            margin-left: -10px;
            .name {
              font-family: ProximaNova;
              color: #000000;
            }.twitter-handle {
              font-family: ProximaNova;
              color: #fd5000;
            }
            .tweets {
              font-family: ProximaNova;
              .count {
                color:#000000;
              }
              .icon-twitter {
                  color: #fd5000;
                }
            }
          }
        }
        .tweeter-card {
          .tweeter-details {
            .details {
              .name {
                font-family: ProximaNova;
              }
              .twitter-handle {
                color: #fd5000;
                font-family: ProximaNova;
              }
            }
          }
          .tweets {
            .icon-twitter {
              color: #fd5000;
            }
          }
        }

      }
      @media(min-width: 1920px) {
        .leaderboard-cards {
          .ranked-tweeter-card {
            .tweeter-image {
              .image-obj {
                max-width: none;
                max-height: none;
              }
            }
          }
        }
      }
    }
    &.leaderboardv2 {
      .dashboard-header {
        background-color: #ffffff;
        height: 88px;
        .dashboard-title {
          display: block;
          position: absolute;
          text-align: right;
          padding-right: 10px;
          top: 10px;
          right: 0px;
          font-size: 3.2em;
          font-family: ProximaNova;
          color: #fd5000;
        }
        .dashboard-short-title {
          display: none;
        }
        .logo {
          &.left-icon {
            content: url(/assets/pureaccel/leftLogonew.png);
            width: 200px;
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            display: none;
          }
        }
      }
      .dashboard-footer {
        .logo {
          &.right {
            img {
              width: 100px;
            }
          }
          &.left-2 {
            // background: url(/assets/logo/cisco-live-ca.png);
            bottom: 0;
            left: 15px;
            width: 90px;
            height: 90px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: ProximaNova;
        .header {
          .header-logo {
            background: url(/assets/clus2019/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .heading {
            font-size: 2em;
          }
        }
        .post {
          .post-body {
            background-size: cover;
            background-position: 0% 70%;
            background-repeat: no-repeat;
            .post-content {
              .rank {
                background-color: #fd5000;
                color: #ffffff;
              }
              .author-handle {
                color:#fd5000;
                font-family: ProximaNova;
              }
              .author-name {
                font-family: ProximaNova;
              }
            }
            .post-footer {
              font-family: ProximaNova;
              .post-count {
                font-family: ProximaNova;
              }
              .post-logo {
                .icon-twitter {
                  color: #fd5000;
                }
                margin-right: 0;
                margin-top: 0;
              }
            }
          }
        }
      }
      @media (min-width: 1080px) {
        font-size: 8px;
      }
    }
    &.photo-wall-container {
      font-family: ProximaNova;
      .photo-wall {
        .caption {
          font-size: 12vw;
          color: #ffffff;
          font-family: ProximaNovaBlack;
        }
        .phototile {
          &.portrait {
            &.zoomIn {
              img {
                display: block;
                margin-left: calc(5%);
              }
            }
          }
          &.zoomIn {
            background-image: url(/assets/pureaccel/tweetCardBg.png);
            img {
              margin-left: none;
            }
          }
          .info {
            background-color: rgba(47, 44, 44, 0.6);
            &.visible {
              font-family: ProximaNova;
              .head {
                font-family: ProximaNova;
                color: #ffffff;
                .handle {
                  font-family: ProximaNova;
                  color: #ffffff;
                }
              }
              color: #ffffff;
            }
          }
        }
      }
    }
    &.masonary-stream-v2 {
      .dashboard-header {
        background-color: #004e7c;
        height: 88px;
        .logo {
          &.left-icon {
            content: url(/assets/clus2019/rightLogo.png);
            width: 100px;
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            display: none;
          }
        }
      }
      .dashboard-footer {
        .logo {
          &.right {
            img {
              width: 100px;
            }
          }
          &.left-2 {
            background: url(/assets/logo/cisco-live-ca.png);
            bottom: 0;
            left: 15px;
            width: 90px;
            height: 90px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .dashboard-content-v2 {
        .call-to-action-card {
          width: 287px;
          height: 237px;
          margin: 15px;
          background: url(/assets/clus2019/action_card.png);
          background-size: contain;
        }
      }
    }
    &.masonary-stream-v3 {
      .dashboard-header {
        // display: none;
        background-color: #004e7c;
        height: 88px;
        .logo {
          &.left-icon {
            content: url(/assets/clus2019/rightLogo.png);
            width: 100px;
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            display: none;
          }
        }
      }
      .dashboard-footer {
        .logo {
          &.right {
            img {
              width: 100px;
            }
          }
          &.left-2 {
            background: url(/assets/logo/cisco-live-ca.png);
            bottom: 0;
            left: 15px;
            width: 90px;
            height: 90px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .dashboard-content-v3 {
        .call-to-action-card {
          width: 287px;
          height: 237px;
          margin: 15px;
          background: url(/assets/clus2019/action_card.png);
          background-size: contain;
        }
      }
    }
    &.masonary-stream-v4 {
      .dashboard-header {
        // display: none;
        background-color: #004e7c;
        height: 88px;
        .logo {
          &.left-icon {
            content: url(/assets/clus2019/rightLogo.png);
            width: 100px;
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            display: none;
          }
        }
      }
      .dashboard-footer {
        .logo {
          &.right {
            img {
              width: 100px;
            }
          }
          &.left-2 {
            background: url(/assets/logo/cisco-live-ca.png);
            bottom: 0;
            left: 15px;
            width: 90px;
            height: 90px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .dashboard-content-v4 {
        .call-to-action-card {
          width: 287px;
          height: 237px;
          margin: 15px;
          background: url(/assets/clus2019/action_card.png);
          background-size: contain;
        }
      }
    }
    &.polling-results {
      overflow-x: hidden;
      &.vision-player {
        background: url(/assets/clus2019/darkblue_bg1080.jpg) !important;
        background-repeat: repeat-y;
        background-size: cover !important;
      }
      .dashboard-header {
        background-color: #042030;
        height: 200px;
        .dashboard-title {
          display: block;
          position: absolute;
          text-align: right;
          padding-right: 10px;
          top: 30px;
          right: 60px;
          font-size: 2.5em;
          font-family: CiscoSans;
          color: #1dbbe9;
        }
        .dashboard-short-title {
          display: none;
        }
        .logo {
          &.left-icon {
            content: url(/assets/clus2019/rightLogo.png);
            width: 200px;
            left
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            // display: block;
            content: url(/assets/medals/cup.png);
            top: 30px;
            right: 350px;
            width: 75px;
          }
        }
      }
      .dashboard-footer {
        .logo {
          &.right {
            img {
              width: 241px;
            }
          }
          &.left-2 {
            background: url(/assets/logo/ciscolive-cancun.png);
            bottom: 0;
            left: 15px;
            width: 266px;
            height: 144px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.polling {
      overflow: hidden;
      &.vision-player {
        background: url(/assets/clus2019/darkblue_bg1080.jpg) !important;
        background-repeat: repeat-y;
        background-size: cover !important;
      }
      .dashboard-header {
        background-color: #004e7c;
        height: 125px;
        .dashboard-title {
          font-size: 2.5em;
          font-family: CiscoSans;
          color: #1dbbe9;
          padding-top: 40px;
          padding-left: 100px;
        }
        .logo {
          &.left-icon {
            content: url(/assets/clus2019/rightLogo.png);
            width: 200px;
            img {
              width: 100%;
            }
            top: 15px
          }
          &.right-icon {
            display: none;
          }
        }
      }
      .dashboard-footer {
        // position: absolute;
        .logo {
          &.right {
            position: absolute;
            img {
              width: 241px;
            }
          }
          &.left-2 {
            background: url(/assets/logo/ciscolive-cancun.png);
            bottom: 0;
            left: 15px;
            width: 266px;
            height: 144px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.trending-discussion {
      .dashboard-content {
        margin-top: 130px;
      }
      @media (min-width: 1920px) {
        .dashboard-content {
          margin-top: 50px;
        }
      }
    }
  }
}
@media (min-width: 640px) and (min-height: 1152px) {
  .regularlayout {
    &.pureaccel {
      &.photo-wall-container {
        .dashboard-header {
          .dashboard-title {
            position: absolute;
            top: 0px;
            right: 10px;
            display: block;
            width: 100%;
            font-size: 4.5em;
            // margin-left: 250px;
            text-align: right;
            margin-top: 3px;
          }
        }

      }
      &.leaderboard {
        .dashboard-header {
          .dashboard-title {
            display: block;
            font-size: 4em;
            padding-top: 20px;
            padding-left: 115px;
          }
        }
        .background-wave {
          display: none;
          canvas {
            display: none;
          }
        }
        .dashboard-content {
          &.leaderboard-cards {
            margin-top: 150px;
            .ranked-tweeter-card {
              width: 100%;
              justify-content: center;
              .tweeter-image {
                .image-obj {
                  max-width: 120px;
                  max-height: 120px;
                }
              }
              .tweeter-details {
                width: 460px;
                .tweets {
                  width: 95%;
                }
              }
              &:nth-last-child(1) {
                margin-bottom: 100px;
              }
            }
            .tweeter-card {
              .tweeter-details {
                .tweeter-image {
                  z-index: 2;
                }
              }
              .tweets {
                  .count {
                    padding-left: 130px;
                  }
              }
            }
          }
        }
      }
      &.leaderboardv2 {
        .container {
          width: 70rem;
          .top {
          }
          .rest-parent {
            height: 50vh;
          }
        }
      }
    }
  }
}
@media (min-width: 640px) and (min-height: 1920px) {
  .regularlayout {
    &.pureaccel {
      &.leaderboardv2 {
        .container {
          width: 70rem;
          .top {
          }
          .rest-parent {
            height: 65vh;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) and (max-height: 768px) {
  .regularlayout {
    &.pureaccel {
      &.leaderboard {
        .dashboard-content {
          margin-top: 50px;
          &.leaderboard-cards {
            justify-content: center;
            align-items: center;
          }
          .ranked-tweeter-card {
            margin: 10px 5px 20px 5px;
            .tweeter-image {
              width: 210px;
              height: 210px;
              .image-obj {
                width: 210px;
              height: 210px;
              }
              img {
                width: 210px;
                height: 210px;
              }
            }
            .tweeter-details {
              .name {
                font-size: 1.75rem;
              }
              width: 240px;
              height: 150px;
              .tweets {
                .count {
                  .text {
                    font-size: 1.8em;
                  }
                }
                .icon-twitter {
                  bottom: -3px;
                  font-size: 2em;
                }
              }
            }
          }
          .tweeter-card {
            height: 130px;
            margin-bottom: 20px;
            .tweeter-details {
              .name {
                font-size: 1.5rem;
              }
              .tweeter-image {
                .image-obj {
                  width: 90px;
                  height: 90px;
                }
              }
            }
            .tweets {
              .count {
                .text {
                  font-size: 2rem;
                }
              }
              .icon-twitter {
                font-size: 1.8em;
                bottom: -3px;
              }
            }
          }
        }
      }
    }
  }
}
