.regularlayout {
  &.pure2 {
    .dashboard-header {
      background: rgba(0, 0, 0, 0.2);
      height: 95px;

      .logo.left-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
      .dashboard-title {
        font-size: 52px;
        padding-top: 15px;
      }
      .logo.right-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
    }
    .dashboard-footer {
      .logo.right {
        img {
          width: 150px;
          padding: 20px;
        }
      }
    }

    &.stats {
      background-image: url(/assets/clus2018/blue-bubbles-bg.png) !important;
    }

    &.carousel-container,
    &.stats {
      .tweet-card {
        background: url(/assets/purestorage/tweetCardBg2.png);
        .tweet-card-top {
          .profile {
            .name,
            .handle {
              color: #fff;
            }
          }
          .timestamp {
            color: #fff;
          }
        }
        .tweet-card-middle {
          color: #fff;
        }
        .tweet-card-bottom {
          .icon {
            &.like {
              background-image: url(/assets/clus2018/like.png);
            }
            &.retweet {
              background-image: url(/assets/clus2018/retweet.png);
            }
          }
          .likes,
          .shares {
            color: #fff;
          }
        }
      }
    }

    &.leaderboard {
      .leaderboard-cards {
        margin-top: 40px;
        .ranked-tweeter-card {
          .tweeter-details {
            background: url(/assets/clus2018/tweetCardBgBlackCube.png);
            .name,
            .twitter-handle {
              color: white;
            }
            .tweets {
              .count {
                color: white;
              }
            }
          }
        }
      }
    }
    &.leaderboardv2 {
      .container {
        width: 100%;
        .top {
        }
        .rest-parent {
        }
      }
    }

    &.photo-wall-container {
      .photo-wall {
        .caption {
          font-size: 12vw;
          color: #df5425;
        }
        .phototile {
          &.zoomIn {
          }
        }
      }
    }
  }
}
@media (min-height: 1152px) and (min-width: 640px) {
  .regularlayout {
    &.pure2 {
      &.leaderboardv2 {
        .container {
          width: 70rem;
          .top {
          }
          .rest-parent {
            height: 50vh;
          }
        }
      }
    }
  }
}
@media (min-width: 640px) and (min-height: 1920px) {
  .regularlayout {
    &.pure2 {
      &.leaderboardv2 {
        .container {
          width: 70rem;
          .top {
          }
          .rest-parent {
            height: 65vh;
          }
        }
      }
    }
  }
}
