.regularlayout {
  &.qrcisco {
    .dashboard-header {
      background: rgba(0,0,0,0.5);
      height: 140px;

      .logo.left-icon {
        img {
          max-width: 275px;
          max-height: none;
        }
      }
      .dashboard-title {
        font-size: 52px;
        padding-top: 15px;
      }
      .logo.right-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
    }
    .dashboard-footer {
      .logo.right {
        img {
          width: 200px;
          padding: 20px;
        }
      }
    }
    &.marquee-container-qr {
      .dashboard-content {
        margin-top: 9vh;
      }
    }
  }
}