.regularlayout {
  &.tmobile {
    .dashboard-header {
      background: rgba(0,0,0,0.2);
      height: 95px;

      .logo.left-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
      .dashboard-title {
        font-size: 52px;
        padding-top: 15px;
        color: #fd1970;
      }
      .logo.right-icon {
        img {
          max-width: 160px;
          max-height: none;
        }
      }
    }
    .dashboard-footer {
      .logo.right {
        img {
          width: 150px;
          padding: 20px;
        }
      }
    }

    &.stats {
      background-image: url(/assets/clus2018/blue-bubbles-bg.png) !important;
    }

    &.carousel-container, &.stats {
      .tweet-card {
        background: url(/assets/tmobile/tweetCardBg.png);
        .tweet-card-top {
          .profile {
            .name, .handle {
              color: #fd1970;
            }
          }
          .timestamp {
            color: #fd1970;
          }
        }
        .tweet-card-middle {
          color: #fd1970;
        }
        .tweet-card-bottom {
          .icon {
            &.like {
              background-image: url(/assets/clus2018/like.png);
            }
            &.retweet {
              background-image: url(/assets/clus2018/retweet.png);
            }
          }
          .likes, .shares {
            color: #fd1970;
          }
        }
      }
    }

    &.leaderboard {
      .leaderboard-cards {
        margin-top: 40px;
        .ranked-tweeter-card {
          .tweeter-details {
            background: url(/assets/clus2018/tweetCardBgBlackCube.png);
            .name, .twitter-handle {
              color: white;
            }
            .tweets {
              .count {
                color: white;
              }
            }
          }
        }
      }
    }

    &.photo-wall-container {
      .photo-wall {
        .caption {
          font-size: 15vw;
          color: #fd1970;
        }
        .phototile {
          &.zoomIn {
            background-image: url(/assets/tmobile/tweetCardBg.png);
          }
          .info {
            &.visible {
              .head {
                color: #fd1970;
              }
              color: #fd1970;
            }
          }
        }
      }
    }
  }
}