@font-face {
    font-family: CiscoSans;
    font-weight: bold;
    src: url("/fonts/CiscoSansRegular.otf") format("opentype");
}

@font-face {
    font-family: CiscoSansThin;
    font-weight: bold;
    src: url("/fonts/CiscoSansThin.otf") format("opentype");
}

@font-face {
    font-family: CiscoSansExtraLight;
    font-weight: bold;
    src: url("/fonts/CiscoSansExtraLight.otf") format("opentype");
}

@font-face {
    font-family: CiscoSansBold;
    font-weight: bold;
    src: url("/fonts/CiscoSansBold.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNova';
  src: url(/fonts/ProximaNova-Regular.ttf) format("truetype");
}
