@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400&display=swap');

.ar-welcome {
  background: url(/assets/clus2019/blue-bg-1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
  .logo {
    margin-top: 137px;
    width: 369px;
    height: 185px;
    background: url(/assets/clus2019/store-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .welcome {
    margin-top: 35px;
    color: white;
    font-size: 6em;
    font-weight: 100;

  }
  .name {
    font-size: 10em;
    font-weight: 300;
  }
}

// @media(min-width: 1080px) {
//   html {
//     font-size: 10em;
//   }
// }